language: go

go:
  - 1.7
  - 1.8
  - 1.9
  - tip

env:
  - "PATH=/home/travis/gopath/bin:$PATH"
script:
  - go get -u github.com/golang/lint/golint
  - golint ./...
  - make
  - scripts/check-code-generation-ran.sh

install:
  - go get -v -t .

matrix:
    allow_failures:
        - go: tip
